/* Global Layout Set-up */
* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'baskerville', sans-serif;
  color: #222;
  background: white;
  border: solid 8px #5b5c5c;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #5b5c5c;
}
a:hover {
  color: #97c1b9;
}

/* Section Styles */



  .mainlogo {

    color: #5b5c5c;
    text-shadow: 1px 1px #5b5c5c;
    font-family: baskerville;
    font-size: 25px;
    font-weight: 500;
    width: 75px;
    height: 75px;
    margin-top: 5%;
    border: 5px solid #5b5c5c;
    box-shadow: 0px 0px 0.14em #97c1b9;
    padding-top: .75em;
    overflow:auto;
    display: inline-block;
}

  .mainlogo:hover {

    color: #97c1b9;
  }

.devfont {

  color: #97c1b9;

}



.nav {

   display: inline-block;
   list-style: none;
   margin-left: 45em;
   overflow: hidden;
   color: #5b5c5c;

}

.list {

  display: inline;
  cursor: pointer;
  /*padding: 20px;*/
  /*margin-left: 25%;*/




}



}

.nav a {
  transition: all 1s;
}
.nav a:hover {
  color: #97c1b9;
}

.logo {
  width:65px;
  height:65px;
  margin-right:90%;
  margin-top:25px;
  display: flex;
}
header {
  text-align: center;
  background: none;
  overflow: hidden;
  color: #5b5c5c;
  display: table;
  margin: 100px auto;
  text-align:left;
  justify-content:center;
  margin-top: 100px;
  /*margin-bottom: 200px;*/
}
  .mainpic {

    max-width: 80%;
    max-height: 100%;


  }




/*.tag {

  color: #5b5c5c;
  display: table;
  margin: 100px auto;
  text-align:left;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3) blur-radius 5px;
  justify-content:center;*/

}
.location {
  background-color: #222;
  color: white;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: none;
  color:black;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}
  .skills li:hover {
  transform: scale(1.05) ;
}


.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    /*min-height: 450px;*/
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
    color:#5b5c5c;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
h3{
   color: #97c1b9;
  letter-spacing: .5px;
}

h2 {

   text-align:center;
   color: #5b5c5c;
}
